NEXT_PUBLIC_SUPABASE_URL=https://kozngxmziwijnqqbhvpx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtvem5neG16aXdpam5xcWJodnB4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0ODU4OTIsImV4cCI6MjA5NDA2MTg5Mn0.MUxsffAP_iA7wlMkcG113ACQriKuaOhWBGoCxQE9VA0
